:not(:defined) > * {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
}

model-viewer {
  width: 100%;
  height: 90%;
  padding: 0%;
  margin: 0%;
  z-index: 6;
  background-color: #ffffff;
  position: absolute;
}


.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

#ar-button {
  
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color:white;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid white;
  
}

#ar-button:active {
  background-color: white;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid white;
}

@keyframes circle {
  from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
  to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
}

@keyframes elongate {
  from { transform: translateX(100px); }
  to   { transform: translateX(-100px); }
}

model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status="session-started"] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}
#ButtonBackground{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0%;
  margin: 0%;
  background-image: url(./assets/img/white.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0px 0%;
  z-index: 2;
  color: #4285f4;
}

#Title{
  background-color: rgba(19, 33, 224, 0.288);
  position: absolute;
  z-index: 4;
  width: auto;
  width: 70vw;
  max-width: 350px;
  left: 50%;
  overflow:hidden;
  top: 40%;
  padding-left: 2%;
  padding-right: 2%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color:#fefeff;
  border-radius: 10px;
 
  text-align: center;
}
#textF{
  margin: 0px;
  padding: 0px;
  max-width: 340px;
  padding-right: 0%;
  margin-right: 0%;
  margin-bottom: 1%;
  font-size: 100%;
}
#textF2{
  margin: 0px;
  padding: 0px;
  max-width: 340px;
  padding-right: 0%;
  margin-right: 0%;
  font-size: 90%;
}
#ar-buttonFront{
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color:#ffffff;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #ffffff;
  display: none;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 8;
  margin: 0px;
  padding: 0px;
  left: 45%;
  top: 45%;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 0px;
  padding: 0px;
  border-radius: 50%;
  border: 6px solid rgb(78, 117, 223);
  border-color: rgb(91, 91, 165) transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

